.titleShipping {
    text-align: center;
    font-family: "Lato";
}

/*The fast delivery icon*/
.shippingIcons {

    margin: 20% 0% 0% 14%;
    width: 30%;
    position: absolute;

}

/*the shield and paypal icons*/
.shippingIcons2 {
    width: 20%;
    margin: 18% 0% 0% 20%;
    position: absolute;
}

/*The round image*/
.circel {
    width: 70%;
    text-align: center;
}

/*The main container*/
.containerr {
    width: 90%;
    padding: 8%;
    margin-left: 5%;
    font-family: "Lato";
}

/*the name of the option under each image*/
.containerr span {
    color: #72afd3;
    font-family: "Lato";
    text-align: center;
    font-weight: bold;
    margin: auto;

}

/*cards style*/
.Card {
    width: 100%;
    padding: 5%;
    text-align: center;
}


/*Ipad pro and Ipad media screen*/
@media (max-width:1024PX) {
    .containerr {
        font-size: 16px;
    }

    .titleShipping {
        font-size: 32px;
        font-family: "Lato";
    }

    .shippingIcons {

        margin: 18% 0% 0% 13%;
        width: 30%;
        position: absolute;

    }

    .shippingIcons2 {
        width: 20%;
        margin: 16% 0% 0% 17%;
        position: absolute;
    }
}

/*Media screen for phones*/
@media (max-width:450PX) {
    .containerr {
        font-size: 12px;
    }

    .titleShipping {
        font-size: 22px;
        font-family: "Lato";
    }

    .shippingIcons {
    
        margin: 18% 0% 0% 14%;
        width: 30%;
        position: absolute;

    }

    .shippingIcons2 {
        width: 20%;
        
        margin: 16% 0% 0% 18%;
        position: absolute;
    }
}