@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@font-face {
    font-family: 'atelier_omega';
    src: url('../fonts/Omega/atelier_omega.woff2') format('woff2'),
        url('../fonts/Omega/atelier_omega.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Lato";
}

body {
    overflow-x: hidden !important;
}

/*CSS SOulayman*/

.header {
    width: 100%;
    height: 100%;
    background: url(../assets/bg.png) no-repeat center;
    background-size: cover;
    background-position-y: 0;
    background-repeat: no-repeat;
    padding-bottom: 300px;
}

.logo {
    width: 90%;
    height: 100%;
    max-height: 128px;
    max-width: 330px;
    float: right;
}

.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    /* background: url(../Assets/navbg.png) no-repeat no-repeat center; */
    background-color: rgb(243, 247, 250);
    box-shadow: 0px 12px 95px 0px rgba(0, 0, 0, 0.22);
    /* width: 1922px; */
    /* height: 118px; */
}

nav ul li a {
    font-weight: bold;
}


.line {
    stroke: transparent;
    height: 2px;
    margin-top: -1.5rem;
    vertical-align: middle;
}

.line .focusedline {
    stroke: #1b568a;
    opacity: 0;
    transition: all 0.2s;
    stroke-dasharray: 0, 20;
    stroke-dashoffset: -20;
}

a:hover+.line .focusedline {
    opacity: 1;
    stroke-dasharray: 40, 0;
    stroke-dashoffset: 0;
}

.nav-item {
    align-self: center;
    padding: 0px 10px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    z-index: 21;
    padding-bottom: 10px;
    margin-bottom: -2rem;
}

.nav-link {
    font-size: 17px;
    font-family: "Lato";
    font-weight: 500;
    color: #1b568a !important;
}

.club24hl {
    font-size: 9vw;
    font-family: "atelier_omega";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    z-index: 12;
    padding-top: 10vh;
}

.productbutton {
    font-family: "Lato";
    line-height: 1.2;
    font-size: 2vw;
    background: transparent;
    border-radius: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: transparent;
    padding: 0px !important;
}

.whitebordercarousel {
    border: 10px solid #f4f4f4;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    box-shadow: 0px 2px 70px 0px rgba(6, 29, 71, 0.25);
}

.botomborder {
    border-bottom: solid 1px #93a2b3;
    width: 80vw;
    margin-bottom: 100px;
    padding-bottom: 20px;
}

.trans {
    padding: 0 !important;
    background: transparent !important;
}


center {
    padding-top: 50px;
    background: white;
}

.NON_C_È_TEMPO_MIGLIORE_DI_ORA_PER_INIZIARE__VIV {
    font-size: 2vw;
    font-weight: 300;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    z-index: 13;
    padding-top: 5vh;
    max-width: 90vw;
    margin: 0 auto;
    padding-bottom: 6vh;
}

.bold {
    font-weight: bold;
}

.bordered {
    border: 1px #1b568a solid;
    border-radius: 50px;
    min-width: fit-content;
    padding-bottom: 0px !important;
    margin-top: -2rem;
}

.products {
    color: rgb(255, 255, 255) !important;
    border-radius: 3px;
    background-image: -moz-linear-gradient(45deg, rgb(0, 192, 193) 0%, rgb(0, 197, 167) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb(0, 192, 193) 0%, rgb(0, 197, 167) 100%);
    background-image: -ms-linear-gradient(45deg, rgb(0, 192, 193) 0%, rgb(0, 197, 167) 100%);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 15 !important;
    width: 10vw !important;
    min-width: 200px !important;
    min-height: 45px !important;
    font-size: 20px !important;
    padding: 0px 20px !important;
    height: 60px !important;
    text-transform: uppercase !important;
}

.nodecoration {
    text-decoration: none;
}


.nodecoration:hover {
    text-decoration: none;
}

.form_sub {
    margin-right: -5px;
    margin-left: -5px;
}

.header .col-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.email {
    padding-left: 20px !important;
    height: 40px !important;
    min-width: 200px !important;
    font-size: 20px !important;
    min-height: 60px !important;
    max-width: 40vw !important;
    width: 100% !important;
    vertical-align: middle !important;
}

@media (max-width:1150px) {
    .nav-item {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width:991px) {
    

    .NON_C_È_TEMPO_MIGLIORE_DI_ORA_PER_INIZIARE__VIV {
        font-size: 20px;
    }

    .club24hl {
        font-size: 100px;
    }
}

@media (max-width:400px) {
    .products {
        font-size: 6vw;
    }

    .club24hl {
        font-size: 15vw;
    }

    .logo {
        width: 50vw;
    }

    .whitebordercarousel {
        border-radius: 2vw;
        border-width: 1.4vw;
    }
}

@media(max-width:242px) {
    .logo {
        width: 40vw;
    }

    .navbuton {
        width: 15%;
        padding: 0px;
    }
}

@media (max-width:200px) {
    .section1 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .box1 {
        padding: 0 !important;
    }

}

@media (min-width:2000px) {
    .box2 {
        max-width: 80vw !important;
    }

    .box1 {
        max-width: 80vw !important;
    }

    .email {
        height: 70px;
        font-size: 20px;
    }
}

.carousel-indicators li {
    width: 100%;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    border-radius: 100%;
    background: #f4f7f4;
}

.carousel-indicators {
    bottom: 1vw !important;
    margin-bottom: 0px;
}

.carousel-indicators .active {
    background: #00b0ab !important;
}

.section2 {
    margin-top: -14vw;
}

.section1 {
    max-width: 100%;
}

.herbaimg {
    margin-top: 30px;
    width: 100%;
    max-width: 508px;
}

/*End Css Soulayman*/

/* Starting Products Features */
.Products_features {
    font-size: 55px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

.cards_deck {
    padding-top: 40px;
}

.prod_feature {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 50px 0px rgba(6, 29, 71, 0.08);


}

.prod_img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.prod_name {
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.prod_text {
    font-size: 16px;
    font-family: "Lato";
    color: rgb(91, 111, 130);
    line-height: 1.2;
    text-align: center;

}

.second_row_card {
    margin-top: 13px;
}

/* End of Products Features */

/*VISITA IL NOSTRO NEGOZIO Button*/
.btn_vista_div {
    padding-top: 60px;
}

.button_visita_il_nostro_negozio {

    font-size: 25px;
    font-family: "Lato";
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    border-radius: 3px !important;
    background-image: -moz-linear-gradient(45deg, rgb(0, 192, 193) 0%, rgb(0, 197, 167) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb(0, 192, 193) 0%, rgb(0, 197, 167) 100%);
    background-image: -ms-linear-gradient(45deg, rgb(0, 192, 193) 0%, rgb(0, 197, 167) 100%);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2) !important;
    width: 381px;
    height: 76px;
}

.button_visita_il_nostro_negozio a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*End button Visita*/
/*Mendil's Css */
.Payment_div {
    padding-top: 150px;
}

.titleShipping {
    text-align: center;
    font-family: "Lato";
}

/*The fast delivery icon*/
.shippingIcons {

    margin: 20% 0% 0% 14%;
    width: 30%;
    position: absolute;

}

/*the shield and paypal icons*/
.shippingIcons2 {
    width: 20%;
    margin: 18% 0% 0% 20%;
    position: absolute;
}

/*The round image*/
.circel {
    width: 70%;
    text-align: center;
}

/*The main container*/
.containerr {
    width: 90%;
    padding: 8%;
    margin-left: 5%;
    font-family: "Lato";
}

/*the name of the option under each image*/
.containerr span {
    color: #72afd3;
    font-family: "Lato";
    text-align: center;
    font-weight: bold;
    margin: auto;

}

/*cards style*/
.Card {
    width: 100%;
    padding: 5%;
    text-align: center;
}


/*Ipad pro and Ipad media screen*/
@media (max-width:1024PX) {
    .containerr {
        font-size: 16px;
    }

    .titleShipping {
        font-size: 32px;
        font-family: "Lato";
    }

    .shippingIcons {

        margin: 18% 0% 0% 13%;
        width: 30%;
        position: absolute;

    }

    .shippingIcons2 {
        width: 20%;
        margin: 16% 0% 0% 17%;
        position: absolute;
    }
}

/*Media screen for phones*/
@media (max-width:450PX) {
    .containerr {
        font-size: 12px;
    }

    .titleShipping {
        font-size: 22px;
        font-family: "Lato";
    }

    .shippingIcons {

        margin: 18% 0% 0% 14%;
        width: 30%;
        position: absolute;

    }

    .shippingIcons2 {
        width: 20%;

        margin: 16% 0% 0% 18%;
        position: absolute;
    }
}

/* End Mendil's Css */

/*About me*/

.about_me_section {
    margin-top: 50px;
    background: url(../Assets/AboutMe.png) no-repeat 50% 50% fixed;
    background-color: #ffffff;
    width: 100%;
    min-height: 820px;
    height: auto;
    padding-bottom: 40px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.about_text {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
}

.about_parag {
    font-size: 22px;
}

.about_me_color_text {
    color: rgb(255, 255, 255);
}

.portrait {
    position: absolute;
    top: 15px;
    left: 0px;
    height: 170px;
    width: 100%;
    z-index: 100;
}

.circle {
    position: relative;
    left: 0px;
    top: 0px;
    height: 200px;
    width: 100%;
    z-index: 99;
}

.Ciao_Mi_chiamo {
    font-size: 30px;
    line-height: 1.2;
    text-align: justifyCenter;
}

.pb-5,
.py-5 {
    padding-bottom: 0rem !important;
}

.piu_su_di_me {
    padding-top: 60px;
}

.button_piu_su_di_me {
    font-size: 25px;
    font-family: "Lato";
    color: rgb(30, 134, 150);
    text-transform: uppercase;
    line-height: 1.2;
    border-radius: 3px;
    background-image: -moz-linear-gradient(45deg, rgb(230, 233, 240) 0%, rgb(238, 241, 245) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb(230, 233, 240) 0%, rgb(238, 241, 245) 100%);
    background-image: -ms-linear-gradient(45deg, rgb(230, 233, 240) 0%, rgb(238, 241, 245) 100%);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    width: 246px;
    height: 72px;
}

.button_piu_su_di_me a {
    text-decoration: none;
    color: rgb(30, 134, 150);
}


/*End About me*/
/* Contact Us*/



.background_contact {
    background-image: url('../Assets/background-contact-us.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 50px;
    min-height: 1200px;
    height: auto;
    top: 0;
    padding-bottom: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

.content_contact h1 {
    font-size: 43px;
    color: rgb(254, 254, 254);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.917;
}

.simple_contact span {
    font-size: 40px;
    line-height: 0.2;
    font-weight: 100;
    text-align: center;
    color: white;
}

.simple_contact h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: white;
}

.form_contact {
    margin: 20px 120px 20px 120px;
}

.btn_contact {
    border-radius: 10px;
    background-image: -moz-linear-gradient(135deg, rgb(0, 197, 167) 0%, rgb(0, 192, 193) 100%);
    background-image: -webkit-linear-gradient(135deg, rgb(0, 197, 167) 0%, rgb(0, 192, 193) 100%);
    background-image: -ms-linear-gradient(135deg, rgb(0, 197, 167) 0%, rgb(0, 192, 193) 100%);
    box-shadow: 0px 17px 59px 0px rgba(6, 29, 71, 0.09);
    padding: 15px 0px 15px 0px;
    color: white;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border: 0px disabled;
}

.btn_contact:hover {
    box-shadow: 0px 25px 60px 5px rgba(6, 29, 71, 0.2);
    transition: 1s;
}

.form_contact input::placeholder textarea::placeholder {
    color: #434343;
}

.form_contact input {
    padding: 15px 15px 15px 15px;
}

.copyright {
    color: white;
    font-weight: lighter;
    font-size: 15px;
}

/* End Contact Us*/
/* Whatsapp button api*/
.whatsapp-border a {
    text-decoration: none;
    color: #27cdb4;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 50% auto;
    grid-template-areas: "img first""img second";
}

.whatsapp-border {
    border-radius: 5px;
    background-color: rgb(245, 247, 248);
    box-shadow: 0px 17px 59px 0px rgba(6, 29, 71, 0.09);
    height: 100px;
}

.whatsapp-logo {
    grid-area: img;
    margin-left: 16px;
    float: left;
}

.whatsapp-text {
    padding: 0 20px 0 10px;
    flex: 1 1 auto;
    font-weight: bold;
    line-height: 1.4em;
    vertical-align: middle;
    text-align: left;
    display: grid;
    grid-area: first;
}

.whatsapp-text2 {
    display: grid;
    padding: 0 20px 0 10px;
    flex: 1 1 auto;
    font-weight: bold;
    line-height: 1.4em;
    vertical-align: middle;
    float: left;
    grid-area: second;
}


/*End Whatsapp button api*/
/*Mendili's Customers */
/*The maine container of all slides*/
.swiper-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.swiper-slide {

    background-size: cover 100% 100%;
    width: 500px;
    height: 598px;

}

/*the three images with the gradient color */
.slide1 {
    background: url("../Assets/slider_front_n1.png");


}

.slide2 {
    background: url("../Assets/slider_front_n2.png");
}

.slide3 {
    background: url("../Assets/slider_front_n3.png");
}

/*The image in the center of the cards*/
.profileimg {
    position: absolute;
    width: 30%;
    margin-top: -15%;
    margin-left: 35%;
    border: solid #fff 8px;
    border-radius: 50%;
}

/*The name of the Client */

.clientname {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    top: 14%;
}

/*Fixing long client names*/
#Fclient {
    transform: translateX(-20%);
    font-size: 26pt;
    left: 35%;
}

/*the text in the sliders cards*/
.SlidePara {
    color: white;
    text-align: center;
    font-size: 18pt;
    margin: 42% 6% 0% 6%;

}

/*dye the stars in yellow*/
.checked {
    color: orange;
}

/*The rating stars*/
.ratinStars {
    position: absolute;
    font-size: 18pt;
    margin-top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

/*the divs in the slide  */
.customcard {
    clip-path: polygon(0px -100px, 100% -100px, 100% calc(100% - 70px), 0% 100%);
    -webkit-clip-path: polygon(0px -100px, 100% -100px, 100% calc(100% - 70px), 0% 100%);

}

/*Media screen for small devices */

@media (max-width:900PX) {
    .swiper-slide {

        background-size: cover 100% 100%;
        width: 200px;
        height: 598px;
    }


    .SlidePara {
        color: white;
        margin-top: 60%;
        font-size: 12.5pt;

    }

    .clientname {
        font-size: 12pt;
        margin-top: -15%;
        /*margin-left: 10%;*/
    }

    /*Fixing long client names*/
    #Fclient {
        transform: translateX(-6%);
        font-size: 12pt;
        left: 20%;
    }

    .WatchVideo iframe {
        margin: 1% 0% 0% 0% !important;
        height: 100px !important;
        width: 20% !important;
    }

    .ratinStars {
        position: absolute;
        font-size: 12pt;
        margin-top: 40%;
        margin-left: 0%;
    }
}

/* End Mendili's Customers*/

/*Footer*/



#footer {
    padding: 60px 0;
    /*margin-top: 50px;*/

}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

/*#footer {
    
    background-image: -webkit-linear-gradient( 45deg, rgb(30,122,163) 0%, rgb(30, 134, 150) 100%) !important;
}*/
#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;

}

.right-reserved {
    color: #165c74;
}

hr {
    color: #000000;
}

#footer a {
    color: #165c74;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #165c74;
}

#footer ul.social li a:hover {
    color: #165c74;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}


/* End Footer */
/* Media */

@media (max-width: 576px) {
    .first_row_card {
        margin-top: 13px;
    }

    .first_blog_row_card {
        margin-top: 13px;
    }

    .button_visita_il_nostro_negozio {
        font-size: 18px;
        width: 275px;
    }

    .whatsapp-border {
        border-radius: 100px;
        width: 100px;
    }

    .whatsapp-border a {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "img";
    }

    .whatsapp-text {
        /* font-size: 13px; */
        display: none;
    }

    .whatsapp-text2 {
        /* font-size: 13px; */
        display: none;
    }

    .about_me_section {
        height: auto !important;
        padding-bottom: 40px;
    }

    .simple_contact h3 {
        font-size: 17px !important;
    }

    .num_tel {
        font-size: 22px !important;
    }

}

@media (max-width: 768px) {
    .first_row_card {
        margin-top: 13px;
    }

    .about_me_section {
        height: 1050px;
    }
}


@media (max-width: 992px) {
    .first_row_card {
        margin-top: 13px;
    }

    .first_blog_row_card {
        margin-top: 13px;
    }

    .about_me_section {
        height: 1050px;
    }

    .form_contact {
        margin: 20px 20px 20px 20px;
    }
}

@media screen and (max-width: 800px) {
    .background_contact {
        height: 1300px;
    }
}

@media (max-width: 1199px) {
    .about_me_section {
        height: 1050px;
    }
    .show ul {
        padding-bottom: 30px;
    }

    .show ul li a {
        padding-bottom: 15px;
    }

    .show ul li .line {
        vertical-align: middle;
        margin-top: -2.5rem;
    }

    .collapsing ul {
        padding-bottom: 30px;
    }

    .collapsing ul li a {
        padding-bottom: 15px;
    }

    .collapsing ul li .line {
        vertical-align: middle;
        margin-top: -2.5rem;
    }
    
    .bordered {
        padding: 0px 10px !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}

/* iPhone5+ */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .about_me_section {
        height: 1150px;
    }


}

/* iPhone 4/4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .about_me_section {
        height: 1150px;
    }


}

/* End of Media*/






/*recent*/

.title {
    font-size: 72px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
}

.big-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    background: url('../Assets/background-profile-page.png') no-repeat center;
    background-size: cover
}

/*-------------------------------------------------*/
.profile-photo {
    text-align: center;
}

.content {
    margin-top: 100px;
}

.portraits {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}

.stroke {
    z-index: 0;
}

/*end profile page*/

.coach {
    text-align: center;
    margin-top: 20px;
}

.name-coach {
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
}

.spec-coach {
    font-size: 20px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    padding-top: 10px;
}


.text {

    font-size: 20px;
    font-family: "Lato";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    /*padding: 30px 150px 0px 150px;*/

}

/*start contract us*/
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.content_contact h1 {
    font-size: 43px;
    color: rgb(254, 254, 254);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.917;
}

.simple_contact span {
    font-size: 40px;
    line-height: 0.2;
    font-weight: 100;
    text-align: center;
    color: white;
}

.simple_contact h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: white;
}



.btn_contact_coach {
    border-radius: 10px;
    background-image: -moz-linear-gradient(135deg, rgb(0, 197, 167) 0%, rgb(0, 192, 193) 100%);
    background-image: -webkit-linear-gradient(135deg, rgb(0, 197, 167) 0%, rgb(0, 192, 193) 100%);
    background-image: -ms-linear-gradient(135deg, rgb(0, 197, 167) 0%, rgb(0, 192, 193) 100%);
    box-shadow: 0px 17px 59px 0px rgba(6, 29, 71, 0.09);
    padding: 15px 0px 15px 0px;
    color: white;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border: 0px disabled;
    width: 220px;
}

.li_button {
    margin-left: 380px;
    float: right;
}

.btn_contact:hover {
    box-shadow: 0px 25px 60px 5px rgba(6, 29, 71, 0.2);
    transition: 1s;
}

.form_contact input::placeholder textarea::placeholder {
    color: #434343;
}

.form_contact input {
    padding: 15px 15px 15px 15px;
}

.copyright {
    color: white;
    font-weight: lighter;
    font-size: 15px;
}

.form-control[data-num="1"] {

    background-color: rgb(245, 247, 248);
    border: 0px solid #ced4da;
}

/* End Contact Us*/

/*toggle switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type="checkbox"]:checked+.slider {
    background-color: rgb(0, 192, 193);
}

input[type="checkbox"]:focus+.slider {
    box-shadow: 0 0 1px rgb(0, 192, 193);
}

input[type="checkbox"]:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.agreement li {
    list-style: none;
    display: inline;
}

.agree_text {
    margin-top: 8px;
}

/*end of toggler switch*/

/*media screens*/
@media (max-width:767px) {}

@media (max-width:1024PX) {
    .portraits {
        width: 533px;
        height: 333px;
        margin-left: 14px;
    }

    .stroke {
        width: 546px;
        height: 348px;
        margin-left: 8px;
        margin-top: 2px;
    }

    .li_button {
        margin-left: 0px;
    }

    .text {

        font-size: 17px;
        font-family: "Lato";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        padding: 3px 15px 3px 15px;

    }

    .btn_contact_coach {
        width: 200px;
    }
}

/*Media screen for phones*/
@media (max-width:520PX) {

    .btn_contact_coach {
        width: 100px;
    }

    .portraits {
        width: 320px;
        height: 200px;
        margin-left: 12px;
    }

    .stroke {
        width: 328px;
        height: 208.8px;
        margin-left: 8px;
        margin-top: 5px;
    }

    .li_button {
        margin-right: 150px;
    }

    .text {

        font-size: 12px;
        font-family: "Lato";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        padding: 3px 15px 3px 15px;

    }
}

.first_blog_row_card {
    margin-bottom: 13px;
    border-radius: 10px !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0px 3px 50px 0px rgba(6, 29, 71, 0.08) !important;
}

.blog_cards_deck {
    padding-top: 40px;
}

.video_btn {
    color: rgb(255, 255, 255);
    border-radius: 3px;
    background-image: -moz-linear-gradient(45deg, rgb(0, 192, 193) 0%, rgb(0, 197, 167) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb(0, 192, 193) 0%, rgb(0, 197, 167) 100%);
    background-image: -ms-linear-gradient(45deg, rgb(0, 192, 193) 0%, rgb(0, 197, 167) 100%);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);

    min-width: 200px;
    min-height: 45px;
    font-size: 20px;
    padding: 0px 20px;
}

.video_btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.video_btn a:hover {
    text-decoration: none;
    color: white;
}

/*Cookies */
.cookies_section {
    margin-top: 55px;
}

/*End cookies*/
/* Watch Videos*/



.WatchVideo iframe {
    margin: 1% 0% 0% 25% !important;
    height: 500px !important;
    width: 50% !important;
}

/*privacy_policy  by Ismail*/
.privacy_policy li {
    list-style: none;

    padding-top: 15px;
}